.dark {
  background-color: $color-background-dark;

  .fa {
    color: $color-primary-dark;
  }

  .form-control {
    .form-input {
      border-bottom: 2px solid $color-primary-dark;
      color: $color-form-input-dark;
    }

    .form-label {
      color: $color-primary-dark;
    }
  }
}
