// colors
$color-background-dark: #121212;
$color-primary-dark: #bb86fc;
$color-form-input-dark: #f6f6f6;
$color-background-light: #ffffff;
$color-primary-light: #00bfa5;
$color-form-input-light: #222222;

// fonts
$font-primary: "Roboto", sans-serif;

// breakpoints (bootstrap)
$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
