// colors
$color-background: #121212;
$color-primary: #bb86fc;
$color-form-input: #f6f6f6;

// fonts
$font-primary: "Roboto", sans-serif;

// breakpoints (bootstrap)
$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
